@import "~/style/index.scss";

html, body {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

* {
    box-sizing: border-box;
}

input {
    font-family: inherit;
}

%vertical-stretched {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
}

body {
    background-color: $primary-color;
    min-height: 100vh;
    @extend %vertical-stretched;
}

#app {
    @extend %vertical-stretched;
}

.app__component {
    width: 100%;
    @include container;
    padding: 20px 0;

    > .__header {
        font-family: 'Montserrat Alternates';
        font-weight: 200;
    }
}