@import "~/style/index";

.downloads-container__component {
    display: flex;
    flex-direction: column;

    > .__header {

        border-radius: 8px;
        padding: 10px 20px;

        > .__header-content {
            margin: 5px 0 5px 0;
            display: flex;
            justify-content: space-between;

            @include small-only {
                flex-direction: column-reverse;
            }

            > * {
                margin: 10px 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                > .__title {
                    text-transform: uppercase;
                    color: $nord3;
                    font-size: .9em;
                    margin: 5px 0 10px 0;
                    padding: 0 15px;
                }

                &.__filters {
                    > .__content {
                        @include neumorphistic-element($primary-color, 'pressed', 1, 10px);
                        padding: 15px;
                        overflow: hidden;
                    }
                }

                &.__actions {
                    > .__content {
                        padding: 5px 15px;
                    }
                }

                button {
                    @extend %neui-button;
                    margin: 0 5px;
                    border-radius: 8px;
    
                    &.--active {
                        border-radius: 8px;
                        position: relative;
    
                        &::after {
                            content: ' ';
                            position: absolute;
                            bottom: 5px;
                            right: 15px;
                            left: 15px;
                            height: 1px;
                        }
                    }

                    &.--action {
                        @include neui-button($action-color, 'flat');
                    }
    
                    &.--success {
                        &::after {
                            background-color: $nord14;
                        }
                    }
    
                    &.--danger {
                        &::after {
                            background-color: $nord11;
                        }
                    }
                }
            }
        }
    }
    
    > .__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: 30px;
        border-radius: 20px;
        padding: 10px;

        > .download {
            @extend %neui-box;
            margin: 8px 0;
            border-radius: 9px;
            padding: 10px 20px;
            font-size: .95em;
            letter-spacing: .01em;
            width: 100%;
            height: 60px;
            transition: height ease-in-out .2s;

            &:hover {
                @include convex($accent-color);
                border-radius: 9px;
            }
    
            &.--active, &:active {
                @include pressed($primary-color);
                border-radius: 9px;
            }
    
            &.--active {
                height: 300px;
            }
    
            > .__row {
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: min-content;
                cursor: pointer;

                > .__column {
                    > .__column-header {
                        font-size: .8em;
                        text-transform: uppercase;
                        color: $nord3;
                        margin: 2px 0 3px 0;
                    }
    
                    > .__column-content {
                        &.--success {
                            color: darken($nord14, 25%);
                            font-weight: 300;
                            text-shadow: 0 0 5px rgba(white, .1);//rgba(darken($nord14, 10%), .4);
                        }
                    }
                }
            }
    
            
    
            
        }
    }
    

    
}